# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
**/build/
coverage/

# iOS
**/ios/Flutter/.last_build_id

# Android
android/app/build/
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# ML / temp files
*.tmp
*.cache